$gap: 3rem;

h1 {
  font-size: 2.5rem;
}

.em-buffer-y {
  margin: $gap 0 !important;
}

.em-buffer-top {
  margin-top: $gap !important;
}

.em-buffer-bot {
  margin-bottom: $gap !important;
}

@font-face {
  font-family: 'Ogg Roman';
  src: url('./Ogg-Roman.ttf');
  font-weight: auto;
  font-style: auto;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('./RobotoMono-Regular.ttf');
  font-weight: auto;
  font-style: auto;
  font-display: swap;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  margin: 5px 0;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

*::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, .9);
}